<div class="row">
	<div class="col-lg-12">
		<form id="frmParametro" name="frmParametro" method="post" 
		data-fvp-bootstrap="true"
		data-fvp-bootstrap___class="FormValidation.plugins.Bootstrap"
		data-fvp-trigger="true"
		data-fvp-trigger___class="FormValidation.plugins.Trigger"
		data-fvp-icon="true"
    	data-fvp-icon___class="FormValidation.plugins.Icon"
    	data-fvp-icon___valid="fas fa-check"
    	data-fvp-icon___invalid="fas fa-times"
    	data-fvp-icon___validating="fas fa-sync"
		>
			<div class="form-group">
				<label for="txtParametro" class="control-label">*
					Par&#225;metro</label> 
					<input type="hidden" class="form-control"
					name="txtIdParametro" id="txtIdParametro"
					th:value="${txtIdParametro}" placeholder="Id" /> 
					<input
					type="text" class="form-control" name="txtNombre" id="txtNombre"
					th:value="${txtNombre}" placeholder="Nombre" required
					data-fv-not-empty="true"/>
			</div>
			<div class="form-group">
				<label for="txtValor" class="control-label">* Valor:</label>
				<textarea class="form-control" rows="5" name="txtValor"
					id="txtValor" th:text="${txtValor}" placeholder="Valor" required
					data-fv-not-empty="true"></textarea>
			</div>
		</form>
	</div>
</div>