<!DOCTYPE html>
<html layout:decorate="~{layout/layout}">
<head>
<title>Inicio</title>
</head>
<body>
	<section class="content" layout:fragment="body">

		<!-- Default box -->
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">
					Bienvenido(a) <span th:text="${session?.usuario?.nombre}"></span>
				</h3>
			</div>
			<div class="card-body">
				<p>En el men&#250; del lado izquierdo se encuentran las opciones para el uso del <b>Sistema de Enlace Municipal</b></p>
				<div class="row justify-content-md-center">
					<div class="col-md-12">
						<img th:src="@{${@environment.getProperty('application.url-resources') + '/resources/img/SPF.png'}}" style="opacity: 0.3; width: 60%;"  class="img-responsive img-rounded mx-auto d-block" />
					</div>
				</div>
			</div>
			<!-- /.card-body -->
			<div class="card-footer"></div>
			<!-- /.card-footer-->
		</div>
		<!-- /.card -->
	</section>
	<th:block layout:fragment="script">
		<script th:src="@{/js/views/inicio.js}" type="text/javascript"></script>
	</th:block>
</body>
</html>