<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Header</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<header th:fragment="header">
		<!-- Navbar -->
		<nav class="main-header navbar navbar-expand navbar-dark navbar-primary">
			<!-- Left navbar links -->
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
				</li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="#" th:href="@{/logout}" title="Cerrar sesi&#243;n">
						<i class="fas fa-sign-out-alt" style="font-size: 20px;"></i>
					</a>
				</li>
			</ul>
		</nav>
		<!-- /.navbar -->
	</header>
</body>

</html>