<!DOCTYPE html>
<html layout:decorate="~{layout/layout}">
<head>
<title>404</title>
</head>
<body>
	<section layout:fragment="body">
		<div class="error-page">
			<h2 class="headline text-warning">404</h2>
			<div class="error-content">
				<h3>
					<i class="fas fa-exclamation-triangle text-warning"></i> Oops! Recurso no encontrado.
				</h3>
				<p>
					Regresa por favor a la página de inicio. <a href="../inicio"
						th:href="@{/inicio}">Regresar al Inicio</a>
				</p>
			</div>
			<!-- /.error-content -->
		</div>
		<!-- /.error-page -->
	</section>
</body>
</html>