<div class="row">
	<div class="col-lg-12">
		<form id="frmUsuario" name="frmUsuario" role="form" method="post" data-fvp-bootstrap="true"
			data-fvp-bootstrap___class="FormValidation.plugins.Bootstrap" data-fvp-trigger="true"
			data-fvp-trigger___class="FormValidation.plugins.Trigger" data-fvp-icon="true"
			data-fvp-icon___class="FormValidation.plugins.Icon" data-fvp-icon___valid="fas fa-check"
			data-fvp-icon___invalid="fas fa-times" data-fvp-icon___validating="fas fa-sync">
			<div class="form-group">
				<label for="cmbUsuario" class="control-label">* Usuario</label><select class="form-control"
					name="cmbUsuario" id="cmbUsuario" data-placeholder="Ingresa un usuario valido" required
					data-fv-notempty="true">
				</select> <input type="hidden" class="form-control" name="txtIdUsuario" id="txtIdUsuario"
					th:value="${txtIdUsuario}" placeholder="Id" /> <input type="hidden" class="form-control"
					name="txtUsuario" id="txtUsuario" th:value="${txtUsuario}" placeholder="Usuario" />
			</div>
			<div class="form-group">
				<label for="txtNombre" class="control-label">* Nombre:</label> <input type="text" class="form-control"
					name="txtNombre" id="txtNombre" th:value="${txtNombre}" placeholder="Nombre" required
					data-fv-notempty="true" readonly="true" />
			</div>
			<div class="form-group">
				<label for="txtCorreo" class="control-label">* Correo:</label> <input type="email" class="form-control"
					name="txtCorreo" id="txtCorreo" th:value="${txtCorreo}" placeholder="Correo" required
					data-fv-notempty="true"
					data-fv-email-address___message="Por favor introduce un email v&aacutelido" />
			</div>
		</form>
	</div>
	<div class="col-lg-12">
		<h4 class="page-header">
			<span class="label label-info">Roles</span>
		</h4>
		<form id="frmRol" name="frmRol" role="form" method="post" data-fvp-bootstrap="true"
			data-fvp-bootstrap___class="FormValidation.plugins.Bootstrap" data-fvp-trigger="true"
			data-fvp-trigger___class="FormValidation.plugins.Trigger" data-fvp-icon="true"
			data-fvp-icon___class="FormValidation.plugins.Icon" data-fvp-icon___valid="fas fa-check"
			data-fvp-icon___invalid="fas fa-times" data-fvp-icon___validating="fas fa-sync">
			<div class="form-group">
				<label for="cmbRol" class="control-label">* Rol</label> <select class="form-control" name="cmbRol"
					id="cmbRol" required data-fv-notempty="true">
					<option value="" disabled="disabled" selected="selected">Selecciona
						una opci&#243;n</option>
				</select>
			</div>
			<div class="form-group pull-right">
				<button type="submit" id="btnAgregarRol" class="btn btn-success" data-toggle="tooltip"
					data-placement="top" title="Agregar Rol">
					<i class="fas fa-plus-circle"></i>&nbsp;Agregar Rol
				</button>
			</div>
		</form>
		<table id="tblRoles" data-mobile-responsive="true" data-locale="es-MX" data-height="250" data-pagination="true"
			data-page-size="10" data-page-list="[20, 30, 50, 100, 200]" data-search="false" data-toggle="false"
			data-show-toggle="false" data-resizable="false" data-striped="false" data-show-refresh="false"
			data-show-footer="false" data-classes="table table-bordered table-hover table-striped table-sm">
			<thead>
				<tr>
					<th data-field="id" data-visible="false" data-sortable="true">ID</th>
					<th data-field="rol" data-sortable="true">Rol</th>
					<th data-field="descripcion" data-sortable="true">Descripci&#243;n</th>
					<th data-sortable="false" data-align="center" data-formatter="usuarios.rolesFormatter"
						data-width="100">Acciones</th>
				</tr>
			</thead>
		</table>
	</div>
</div>