<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<title>Recursos</title>
<!-- Page -->
<link rel="stylesheet"
	th:href="@{${@environment.getProperty('application.url-resources') + '/resources/AdmLTE_B4/plugins/FormValidation/css/formValidation.min.css'}}"
	type="text/css" />
<link rel="stylesheet"
	th:href="@{${@environment.getProperty('application.url-resources') + '/resources/AdmLTE_B4/plugins/bootstrap-table/css/bootstrap-table.min.css'}}"
	type="text/css" />
</head>
<body>
	<section layout:fragment="body">
		<!-- Default box -->
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">
					<button id="btnAgregarRecurso" class="btn btn-success"
						data-toggle="tooltip" data-placement="top" title="Agregar Recurso">
						<i class="fas fa-plus-circle"></i>&nbsp;Agregar
						Recurso
					</button>
				</h3>
				<div class="card-tools">
					<div id="toolbar"></div>
				</div>
			</div>
			<div class="card-body">
				<div class="rows">
					<div class="row">
						<div class="col-lg-12">
							<div class="form-group well well-sm"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<table id="tblRecursos" data-buttons-toolbar="#toolbar"
								data-toggle="table" data-locale="es-MX" data-height="500"
								data-classes="table table-bordered table-hover table-striped table-sm"
								data-pagination="true" data-side-pagination="server"
								data-page-size="30" data-page-list="[30, 50, 100, 200]"
								data-search="true" data-sort-name="id" data-sort-order="desc"
								data-show-refresh="true" data-mobile-responsive="true"
								data-icon-size="sm" style="display: none;">
								<thead>
									<tr>
										<th data-field="recurso" data-sortable="true">Rol</th>
										<th data-field="descripcion" data-sortable="true">Descripci&#243;n</th>
										<th data-field="estatus" data-sortable="true" data-width="100"
											data-formatter="recursos.estatusFormatter">Estatus</th>
										<th data-field="sesion" data-sortable="true" data-width="100"
										    data-formatter="recursos.sesionFormatter">Sesi&#243;n</th>
										<th data-sortable="false" data-align="center" data-width="100"
											data-formatter="recursos.actionFormatter">Acciones</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
				<!-- /.box-body -->
				<!--
		    <div class="box-footer">
			    Footer
		    </div>
		    -->
				<!-- /.box-footer-->
			</div>
		</div>
	</section>
	<th:block layout:fragment="script">
		<!-- ES6 -->
		<script
			th:src="@{${@environment.getProperty('application.url-resources') + '/resources/AdmLTE_B4/js/es6-sham.min.js'}}"
			type="text/javascript"></script>
		<!-- FormValidation -->
		<script
			th:src="@{${@environment.getProperty('application.url-resources') + '/resources/AdmLTE_B4/plugins/FormValidation/js/FormValidation.min.js'}}"
			type="text/javascript"></script>
		<script
			th:src="@{${@environment.getProperty('application.url-resources')+ '/resources/AdmLTE_B4/plugins/FormValidation/js/plugins/Tachyons.min.js'}}"
			type="text/javascript"></script>
		<script
			th:src="@{${@environment.getProperty('application.url-resources') + '/resources/AdmLTE_B4/plugins/FormValidation/js/plugins/Bootstrap.js'}}"></script>
		<script
			th:src="@{${@environment.getProperty('application.url-resources') + '/resources/AdmLTE_B4/plugins/FormValidation/js/locales/es_ES.min.js'}}"
			type="text/javascript"></script>
		<!-- BootstrapTable -->
		<script
			th:src="@{${@environment.getProperty('application.url-resources') + '/resources/AdmLTE_B4/plugins/bootstrap-table/js/bootstrap-table.min.js'}}"
			type="text/javascript"></script>
		<script
			th:src="@{${@environment.getProperty('application.url-resources') + '/resources/AdmLTE_B4/plugins/bootstrap-table/locale/bootstrap-table-es-MX.min.js'}}"
			type="text/javascript"></script>
		<script
			th:src="@{${@environment.getProperty('application.url-resources') + '/resources/AdmLTE_B4/plugins/bootstrap-table/extensions/mobile/bootstrap-table-mobile.min.js'}}"
			type="text/javascript"></script>
		<!-- Select2 -->
		<script
			th:src="@{${@environment.getProperty('application.url-resources') + '/resources/AdmLTE_B4/plugins/select2/js/select2.full.min.js'}}"></script>
		<script
			th:src="@{${@environment.getProperty('application.url-resources')+ '/resources/AdmLTE_B4/plugins/select2/js/i18n/es.js'}}"></script>

		<script th:src="@{/js/views/administracion/recursos.js}"
			type="text/javascript"></script>
	</th:block>
</body>
</html>