<div class="row">
	<div class="col-lg-12">
		<form id="frmRecurso" name="frmRecurso" role="form" method="post"
			data-fvp-bootstrap="true"
			data-fvp-bootstrap___class="FormValidation.plugins.Bootstrap"
			data-fvp-trigger="true"
			data-fvp-trigger___class="FormValidation.plugins.Trigger"
			data-fvp-icon="true"
			data-fvp-icon___class="FormValidation.plugins.Icon"
			data-fvp-icon___valid="fas fa-check"
			data-fvp-icon___invalid="fas fa-times"
			data-fvp-icon___validating="fas fa-sync">
			<div class="form-group">
				<label for="txtRecurso" class="control-label">* Recurso</label> 
				<input
					type="hidden" class="form-control" name="txtIdRecurso"
					id="txtIdRecurso" th:value="${txtIdRecurso}" placeholder="Id" /> 
				<input
					type="text" class="form-control" name="txtRecurso" id="txtRecurso"
					th:value="${txtRecurso}" placeholder="Recurso" required
					data-fv-notempty="true" />
			</div>
			<div class="form-group">
				<label for="txtDescripcion" class="control-label">*
					Descripci&#243;n:</label> 
				<input type="text" class="form-control"
					name="txtDescripcion" id="txtDescripcion"
					th:value="${txtDescripcion}" placeholder="Descripci&#243;n"
					required data-fv-notempty="true" />
			</div>
			<div class="form-group">
				<label for="cmbSesion" class="control-label">*
					Sesi&#243;n:</label>
				<select
						class="form-control" name="cmbSesion" id="cmbSesion" required
						data-fv-notempty="true">
					<option value="">Selecciona una opci&#243;n</option>
					<option value="0" th:selected="${cmbSesion == '0'}">Sin sesi&#243;n</option>
					<option value="1" th:selected="${cmbSesion == '1'}">Con sesi&#243;n</option>
				</select>
			</div>
		</form>
	</div>
</div>